{# templates/security/login.html.twig #}

<form method="post">
    {{ form_row(form.username, {'attr': {'class': 'form-input'}}) }}
    {{ form_row(form.password, {'attr': {'class': 'form-input'}}) }}
    <button type="submit" class="btn">Connexion</button>
</form>